@import '../../sass/main.scss';

.button-block {
  cursor: pointer;
  font-family: 'DM Sans';
  font-size: 1.7rem;
  padding: 0.9rem 4rem;
  border-radius: 10px;
  background-color: $color-black;
  color: #ffffff;
  border: none;
  transition: all 0.3s;

  &:hover {
    // color: $color-primary;
    transform: scale(1.05);
  }
}
