@import '../../sass/main.scss';

.header {
  height: 180rem;
  margin-top: 3rem;
  position: relative;
  & > img {
    position: absolute;
    top: 3rem;
    width: 100%;
    overflow: hidden;
    display: flex;
  }

  &_right {
    background-color: lawngreen;
    // flex: ;
  }

  &_left {
    background-color: rebeccapurple;
  }
}
